@import './assets/style/color';
@import './assets/style/button';
@import './assets/style/typography';

#root {
  color: $black;
}

// Hero section
.hero {
  height: 100%;
  .hero-content {
    margin-top: 3rem;
    margin-bottom: 25rem;
    h1 {
      font-size: 10rem;
    }
    img {
      position: absolute;
      left: 38rem;
      top: 10rem;
      z-index: -1;
      width: 30rem;
      transform: rotate(10deg);
    }
  }
  span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    background-color: $black;
    color: $white;
    .hero-content {
      margin-top: 0;
      margin-bottom: 0;
      padding: 2rem;
      h1 {
        font-size: 5rem;
      }
      h1:hover {
        color: $maroon;
      }
      img {
        display: none;
      }
    }
    span {
      display: block;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}

// End: Hero section

// Structure section
.structure {
  .structure-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  .content {
    width: 30rem;
  }
  .content-2 {
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    #my-div {
      background-color: $black;
      width: 200px;
      height: 60px;
      margin: 5px;
      padding: 1rem;
    }
    #my-div:hover {
      background-color: $maroon;
    }
    a.fill-div {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      text-align: center;
      color: $white;
    }
    a.fill-div:hover {
      color: $black;
    }
  }
}

@media only screen and (max-width: 600px) {
  .structure {
    background-color: $black;
    color: $white;
    .structure-content {
      padding: 0rem 2rem 2rem 2rem;
      margin-bottom: 0;
    }

    .content-2 {
      #my-div {
        background-color: $gray;
      }
    }
  }
}
// End: Structure section

// Navbar

.navbar {
  background-color: $black;

  .navbar-nav {
    a.nav-item {
      color: $white;
      margin-left: 3rem;
    }
    a.nav-item:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: $white;

    .toggle {
      background-color: $white;
      margin-left: auto;
    }
    .navbar-nav {
      a.nav-item {
        color: $black;
        margin-left: auto;
      }
      a.nav-item:hover {
        color: $maroon;
      }
    }
  }
}

// End : Navbar

// Footer
footer {
  padding: 2rem;
  background-color: $black;
  .footer-wrapper {
    .footer-content {
      display: flex;
      justify-content: end;

      a.nav-item {
        color: $white;
        margin-left: 3rem;
      }
      a.nav-item:hover {
        color: $maroon;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  footer {
    background-color: $white;
    .footer-wrapper {
      .footer-content {
        display: flex;
        flex-direction: column;
        // margin-left: 10rem;

        a.nav-item {
          color: $black;
          margin-left: 0;
          line-height: 2.5rem;
        }
        a.nav-item:hover {
          color: $maroon;
        }
      }
    }
  }
}
// End: footer

// About
.about {
  background-color: $black;
  color: $white;
  .about-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    h1 {
      font-size: 10rem;
      margin-left: auto;
    }
    img {
      width: 25rem;
      margin-left: auto;
    }
  }
  .about-2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .content-2 {
      width: 25rem;
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    padding-bottom: 0;
    background-color: $white;
    color: $black;
    .about-content {
      padding-bottom: 0;

      h1 {
        font-size: 6.5rem;
        margin-left: 0;
        padding: 0 1rem 0 1rem;
      }
      img {
        width: 20rem;
        margin-left: 0;
        position: relative;
        left: 0;
        top: 0;
        z-index: 0;
        padding: 1rem;
        margin-bottom: 0;
      }
    }
    .about-2 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 1rem;

      .content-2 {
        width: 25rem;
        margin-left: auto;
      }
    }
  }
}

// End: About

// Project
.project {
  background-color: $black;
  color: $white;
  .project-content {
    h1 {
      font-size: 10rem;
    }
  }
  .project-2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .content-2 {
      width: 25rem;
      margin-left: auto;
      img {
        width: 25rem;
      }
      h2 {
        a {
          color: $white;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .project {
    padding-bottom: 0;
    background-color: transparent;
    color: $black;
    .project-content {
      h1 {
        font-size: 6.5rem;
      }
    }
    .project-2 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      .content-2 {
        width: 25rem;
        margin-left: auto;

        img {
          width: 21rem;
        }
        h2 {
          padding-top: 5px;
          a {
            color: $black;
          }
        }
      }
    }
  }
}
// End: Project

// Blog
.blog {
  background-color: $black;
  color: $white;
  .blog-content {
    h1 {
      font-size: 10rem;
    }
  }
  .blog-2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .content-2 {
      width: 25rem;
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .blog {
    padding-bottom: 0;
    background-color: transparent;
    color: $black;
    .blog-content {
      h1 {
        font-size: 6.5rem;
      }
    }
    .blog-2 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      .content-2 {
        width: 25rem;
        margin-left: auto;
      }
    }
  }
}
// End: Blog

// Contacts
.contact {
  background-color: $black;
  color: $white;
  .contact-content {
    h1 {
      font-size: 10rem;
    }
  }
  .contact-2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .content-2 {
      width: 25rem;
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    padding-bottom: 0;
    background-color: transparent;
    color: $black;
    .contact-content {
      h1 {
        font-size: 6.5rem;
      }
    }
    .contact-2 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      .content-2 {
        width: 25rem;
        margin-left: auto;
      }
    }
  }
}
// End: Blog
